projectebase.git
ProjecteBaseEAR/.settings/org.eclipse.wst.common.component
ProjecteBaseEJB/.settings/org.eclipse.wst.common.project.facet.core.xml
ProjecteBaseWeb/.settings/org.eclipse.wst.common.component
ProjecteBaseEJB/.settings/org.eclipse.jpt.core.prefs
ProjecteBaseEJB/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

