<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>ProjecteBase-api</display-name>
	<welcome-file-list>
		<welcome-file>/index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
    	<servlet-name>Estadistiques</servlet-name>
    	<servlet-class>es.caib.ProjecteBaseApi.Estadistiques</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Estadistiques</servlet-name>
		<url-pattern>/Estadistiques</url-pattern>
	</servlet-mapping>
  <security-constraint> 
		<web-resource-collection>
			<web-resource-name>radarcovapi</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection> 
		<auth-constraint>
			<role-name>RDV_ADMIN</role-name>
		</auth-constraint>
  </security-constraint>
  <login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>CAIB</realm-name>
  </login-config>
	<security-role>
		<role-name>RDV_ADMIN</role-name>
	</security-role>
</web-app>