<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>ProjecteBase</display-name>
	<welcome-file-list>
		<welcome-file>/index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
    	<servlet-name>Prova</servlet-name>
    	<servlet-class>es.caib.ProjecteBaseWeb.ProvaEJB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prova</servlet-name>
		<url-pattern>/prova</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>Dead</servlet-name>
    	<servlet-class>es.caib.ProjecteBaseWeb.Dead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dead</servlet-name>
		<url-pattern>/dead</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>Health</servlet-name>
    	<servlet-class>es.caib.ProjecteBaseWeb.Health</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Health</servlet-name>
		<url-pattern>/health</url-pattern>
	</servlet-mapping>
  	<servlet>
    	<servlet-name>Faces Servlet</servlet-name>
    	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
    	<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- servlet-mapping>
    	<servlet-name>Faces Servlet</servlet-name>
    	<url-pattern>*.jsf</url-pattern>
  	</servlet-mapping-->
	<!--  context-param>
    	<param-name>javax.faces.PROJECT_STAGE</param-name>
    	<param-value>Development</param-value>
    </context-param-->
	<context-param>
    	<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    	<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    	<param-value>client</param-value>
  	</context-param>
  	<context-param>
	    <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
	    <param-value>armageddon12345</param-value>
	</context-param>
	<context-param>
	    <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
	    <param-value>54321noddegamra</param-value>
	</context-param>
  	<!-- listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener-->
	<!-- context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param-->
	<!-- context-param>
		<param-name>com.sun.faces.injectionProvider</param-name>
		<param-value>org.jboss.web.jsf.integration.injection.JBossInjectionProvider</param-value>
  	</context-param-->
	<!-- context-param>
    	<param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    	<param-value>true</param-value>
  	</context-param-->
  	 <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>es.caib.ProjecteBaseWeb.util.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <security-constraint> 
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection> 
		<auth-constraint>
			<role-name>AVE_ADMINISTRACION</role-name>
		</auth-constraint>
  </security-constraint>
  <security-constraint> 
		<web-resource-collection>
			<web-resource-name>admin_root</web-resource-name>
			<url-pattern>/admin_root/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection> 
		<auth-constraint>
			<role-name>AVE_ADMINISTRACION</role-name>
		</auth-constraint>
  </security-constraint>
    <security-constraint> 
		<web-resource-collection>
			<web-resource-name>radarcovback</web-resource-name>
			<url-pattern>/radarcovback/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection> 
		<auth-constraint>
			<role-name>RDV_USUARI</role-name>
			<role-name>RDV_ADMIN</role-name>
		</auth-constraint>
  </security-constraint>
  <login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>CAIB</realm-name>
  </login-config>
	<security-role>
		<role-name>AVE_ADMINISTRACION</role-name>
	</security-role>
	<security-role>
		<role-name>RDV_USUARI</role-name>
	</security-role>
	<security-role>
		<role-name>RDV_ADMIN</role-name>
	</security-role>
	<env-entry>
		<env-entry-name>jsf/ClientSideSecretKey</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>JcNqcA0eFMFHYoNnrDpb0e6+o/1TfAAh926mIFhSd44=</env-entry-value>
	</env-entry>
</web-app>